	*{box-sizing: border-box;}
body {
	font-size: 24px;
	margin: 0;
}
span {
	/*0123456789abcdef*/
	color: #437E3B; /*задаем цвет*/
	font-size: 56px;
}
body img {
	max-width: 100%;
}

#choise-text {
text-shadow: 0 2px 4px rgba(0,0,0,0.5);
}
.wrapper {
background: pink url('images/background.jpg') no-repeat;
padding: 36px;
}

.wrapper a {
color: red;
} 
.wrapper > a {
	color: purple !important;	
}
.PosRel {
	position: relative;
	top: 50px;
	left: 250px;
	background-color: green;
}
.PosAps {
	position: absolute;
	top: 20px;
	left: 50px;
	background-color: yellow;
	border-radius: 150px;
	width: 300px;
	height: 300px;
	display: block;
	font-size: 8px;
	padding: 30px;
	box-sizing: border-box;
}