body {
	height: 2880px;
}

.pos-fixed {
	position: fixed;
	top: 200px;
	right: 200px;
	background-color: red;
	padding: 20px;
	color: #ffffff;
	font-size: 36px;
	border-radius: 8px;
	font-family: gunnyrewritten;
	font-family: 'Roboto Slab', serif;

}
@font-face { 
   src: url(fonts/gunnyrewritten.woff); 
   font-family: gunnyrewritten; 
   font-weight: 100; 
}